<h1>Snippets</h1>

<table>
  <caption>List of snippets</caption>
  <thead>
    <tr><th scope="col">Tags</th><th scope="col">Code</th><th scope="col">Created by</th><th scope="col">Last updated</th><th scope="col">Edit</th></tr>
  </thead>
  <tbody>
    <% for (const snippet of viewData.snippets) { %>
      <tr>
        <td>
          <% for (const tag of snippet.tags) { %>
            <a href="./snippets?tag=<%= tag.encoded %>&owner=none"><%= tag.normal %></a>
          <% } %>
        </td>
        <td id="code"><%= snippet.code %></td>
        <td><a href="./snippets?tag=none&owner=<%= snippet.owner.encoded %>"><%= snippet.owner.normal %></a></td>
        <td><%= snippet.updated %></td>
        <td><% if (snippet.owner.normal === viewData.user) { %>
          <form action="./snippets/update" method="get">
            <button type="submit"><img src="./img/edit.png" alt="Edit icon"></button>
          </form>
          <form action="./snippets/delete" method="post">
            <button type="submit"><img src="./img/delete.png" alt="Delete icon"></button>
          </form>
        <% } %></td>
      </tr>
    <% } %>
  </tbody>
</table>