<h1>Snippets</h1>

<form action="./snippets" method="post">
  <fieldset>
    <legend>Filter results</legend>
    <label>Tag (#): <input type="text" name="tag" placeholder="#tag"></label>
    <label>Created by: <input type="text" name="owner" placeholder="username"></label>
    <button type="submit">Filter</button>
  </fieldset>
</form>

<% if (viewData.filter) { %>
  <p>Filters:
    <% if (viewData.filter.tag) { %>
      <%= viewData.filter.tag %>
    <% } %>
    <% if (viewData.filter.owner) { %>
      <%= viewData.filter.owner %>
    <% } %>
  </p>
  <form action="./snippets" method="post"><button type="submit">Clear</button></form>
<% } %>

<table>
  <caption>List of snippets</caption>
  <thead>
    <tr><th scope="col">Tags</th><th scope="col">Code</th><th scope="col">Created by</th><th scope="col">Last updated</th><th scope="col">Edit</th></tr>
  </thead>
  <tbody>
    <% for (const snippet of viewData.snippets) { %>
      <tr>
        <td>
          <% for (const tag of snippet.tags) { %>
            <%= tag %>
          <% } %>
        </td>
        <td id="code"><code><%= snippet.code %></code></td>
        <td><%= snippet.owner %></td>
        <td><%= snippet.updated %></td>
        <td><% if (snippet.owner === viewData.user) { %>
          <div>
            <a href="./snippets/<%= snippet.id %>/update"><img src="./img/edit.png" alt="Edit icon"></a>
          </div>
          <div>
            <a href="./snippets/<%= snippet.id %>/delete"><img src="./img/delete.png" alt="Delete icon"></a>
          </div>
        <% } %></td>
      </tr>
    <% } %>
  </tbody>
</table>