<h1>Snippets</h1>

<form action="./snippets/filter" method="post">
  <fieldset>
    <legend>Filter results</legend>
    <label>Tag (#): <input type="text" name="tag" placeholder="#tag"></label>
    <label>Created by: <input type="text" name="owner" placeholder="username"></label>
    <button type="submit">Filter</button>
  </fieldset>
</form>

<% if (viewData.filter) { %>
  <p>Filters:
    <% if (viewData.filter.tag) { %>
      <%= viewData.filter.tag %>
    <% } %>
    <% if (viewData.filter.owner) { %>
      <%= viewData.filter.owner %>
    <% } %>
  </p>
  <div><a href="./snippets">Clear</a></div>
<% } %>

<table>
  <caption>List of snippets</caption>
  <thead>
    <tr><th scope="col">Tags</th><th scope="col">Code</th><th scope="col">Created by</th><th scope="col">Last updated</th><th scope="col">Edit</th></tr>
  </thead>
  <tbody>
    <% for (const snippet of viewData.snippets) { %>
      <tr>
        <td>
          <% for (const tag of snippet.tags) { %>
            <%= tag.normal %>
          <% } %>
        </td>
        <td id="code"><%= snippet.code %></td>
        <td><%= snippet.owner.normal %></td>
        <td><%= snippet.updated %></td>
        <td><% if (snippet.owner.normal === viewData.user) { %>
          <form action="./snippets/update" method="get">
            <button type="submit"><img src="./img/edit.png" alt="Edit icon"></button>
          </form>
          <form action="./snippets/delete" method="post">
            <button type="submit"><img src="./img/delete.png" alt="Delete icon"></button>
          </form>
        <% } %></td>
      </tr>
    <% } %>
  </tbody>
</table>