<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD Snippets</title>
  <base href="<%= baseURL %>">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <% if (viewData.loggedIn === false) { %>
    <%- include('../partials/header1') %>
  <% } else { %>
    <%- include('../partials/header2') %>
  <% } %>
  <main>
    <%- include('../partials/flash') %>
    <%- body %>
  </main>
</body>

</html>